.clientes{
    padding-top: 10px;
    padding-bottom: 0px;
  
}
.clientes .client-logo img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    height: 50px;
    width: 100px;
  }
  
  .clientes .client-logo:hover img {
    filter: grayscale(0%);
  }