.clientes{
    padding-top: 50px;
    padding-bottom: 100px;
}
.clientes .client-logo img {
    filter: grayscale(100%);
    transition: filter 0.3s;
    height: 100px;
    width: 200px;
  }
  
  .clientes .client-logo:hover img {
    filter: grayscale(0%);
  }