  .proyectos {
    /* Estilos del contenedor de proyectos */
    color: #f1f1f1;
    padding-bottom: 300px;
    padding-top: 5%;
  }  
  .proyect{
    background: #f1f1f1;
    width: 100%;
    height: 100%;
  }
  .proyectos img{

    width: 200px;
    height: 200px;
  }
  .filter-buttons {
    margin-bottom: 20px;
 

  }
  
  .filter-buttons button {
    margin-right: 10px;
    padding: 6px 10px;
    background-color: #f1f1f1;
    border: none;
    cursor: pointer;
    border-radius: 64px;
  }
  
  .filter-buttons button.active {
    background-color:rgb(30, 37, 131);
    color: white;
  }
  .proyectos p{
    color: black;

  }


  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 100px;
  }
  
  .project-item {
    text-align: center;
  }